.about-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #ffff;
  }
  

    .salad-image {
        width: 50%; /* Adjust the width as needed */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .about-content {
        max-width: 45%; /* Adjust the width as needed */
      }
  
  
  
  
  
  