.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width:600;
    background: #ffff;
    padding-bottom: 30px;
    width:700px;
    border-radius: 10px;
}

.Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #40325c;
    font-size: 40px;
    font-weight: 700;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display:flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 7px;
}
.input input{
    height: 50px;
    width:200px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container{
    display:flex;
    gap: 30px;
    margin: 60px auto; 
}

.submit{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height:59px;
    color:#eaeaea;
    background: #40325c;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

}

.forgot-password{
    padding-left:250px;
    margin-top:27px;
    color: #797979;
    font-size:18px;
    
}
.forgot-password span{
    color: #40325c;
    gap: 30px;
    margin: 60px auto;
    align-items: center;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59x;
    color:#fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}